
<div class="">
  <form (ngSubmit)="crearProducto(nuevoProducto)" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md w-full">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">
        Nombre
      </label>
      <input
        [(ngModel)]="nuevoProducto.nombre"
        type="text"
        name="nombre"
        required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Nombre del producto"
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="Precio">
        Precio
      </label>
      <input
        [(ngModel)]="nuevoProducto.precio"
        type="number"
        name="precio"
        required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
     
      />
    </div>

    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Crear Cliente
      </button>
    </div>
  </form>
</div>

<div class="">
  <table mat-table [dataSource]="listProductos()" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Nro</th>
      <td mat-cell *matCellDef="let element; let index = index">
        {{ index + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.precio }}</td>
    </ng-container>
    
 

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          (click)="deleteProducto(element.id)"
          matTooltip="Eliminar"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>


  
</div>
